.env
build/*
dist/*
.vscode/*

# python artifacts
*.egg-info
**/__pycache__/

# other
.DS_Store

# logs
*.log

# virtual environment(s)
venv/

# tmp
testdata/maildir/

# jupyter
.ipynb_checkpoints/

# evaluation
old-eval-results/
eval-results/

testdata/enron-eval/*.txt
