docs/site/
*.zip
.cache/
.env
build/*
docs/build/*
docs/source/generated/*
dist/*
.vscode/*
.chroma
.ragatouille
plots/
paper-imgs/

# testdata folders and archive files
testdata/enron-tiny.csv
testdata/*/
testdata/*.tar.gz

# python artifacts
*.egg-info
**/__pycache__/

# other
.DS_Store

# logs
*.log

# virtual environment(s)
venv/

# tmp
testdata/maildir/
testdata/real-estate-eval-100.tar

# jupyter
.ipynb_checkpoints/

# evaluation
old-eval-results/
eval-results/

testdata/enron-eval/*.txt

src/palimpzest/agents/

# your zed using open source contributor who only installs in a virtual environment
.venv
.zed
pyrightconfig.json

myenv/
